@import 'tailwindcss';

/* ======= Global ======= */
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.overflow-x-auto::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-bebas), sans-serif;
}

/* ======= Snap ======= */
.snap-container {
  scroll-snap-type: y mandatory;
  overflow-x: hidden !important;
  overflow-y: scroll;
  height: 100vh;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.snap-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
}

/* ======= Marquee ======= */
.marquee-container {
  overflow: hidden !important;
  width: 100%;
}

.marquee-left {
  animation: marquee-left 20s linear infinite;
}

.marquee-right {
  animation: marquee-right 20s linear infinite;
}

/* ======= Animations ======= */
@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ======= Tailwind ======= */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
